/* Both Admin Menu and Post Formats */
/* Post Format Icons */
/* Welcome Screen Icons */
/* Image Editing Icons */
/* Both Image Editing and TinyMCE */
/* TinyMCE Icons */
/* Post Icons */
/* Sorting */
/* WPorg specific icons: Jobs, Profiles, WordCamps */
/* Internal/Products */
/* Taxonomies */
/* Widget icons */
/* Media icons */
/* Alerts/Notifications/Flags */
/* Social Icons */
/* Misc/CPT */
/*/
$selected-frameset-color: mix($wp-blue,#fff,25%);
$selected-slide-content-color: mix($wp-blue,#fff,75%);
//*/
.pll-sync-translated .acf-input-append {
  max-width: 50%;
  white-space: nowrap;
  position: relative;
  padding: 0;
  height: auto;
  line-height: 0;
}
.pll-sync-translated .acf-input-append:hover, .pll-sync-translated .acf-input-append:focus {
  border-color: #bbb;
}
.pll-sync-translated .acf-input-append a {
  color: #555;
  text-decoration: none;
  display: inline-block;
  padding: 3px 7px;
  height: 26px;
  line-height: 20px;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
.pll-sync-translated .acf-input-append a:hover, .pll-sync-translated .acf-input-append a:focus {
  color: #23282d;
}
.pll-sync-translated .acf-input-append:after {
  content: "";
  position: absolute;
  right: 1px;
  top: 1px;
  bottom: 1px;
  width: 15px;
  background: rgba(244, 244, 244, 0.5);
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f4f4f4+0,f4f4f4+100&0+0,1+100 */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(244, 244, 244, 0) 0%, rgb(244, 244, 244) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#00f4f4f4", endColorstr="#f4f4f4",GradientType=1 ); /* IE6-9 */
}

.acf-field.pll-sync > .acf-label > label:before,
.acf-field-repeater.pll-sync .acf-th:before {
  content: "\f326";
  font-family: dashicons;
  font-size: 25px;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  vertical-align: middle;
  float: right;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  background: #fff;
  color: #8fbfce;
}