@import '../variables/variables';

@import '../mixins/mixins';

.pll-sync-translated {
	.acf-input-append {
		max-width: 50%;
	    white-space: nowrap;
	    position:relative;
		padding:0;
		height:auto;
		line-height:0;
		&:hover,
		&:focus {
			border-color:#bbb;
		}
		a {
			color:$wp-gray-darker;
			text-decoration:none;
			display:inline-block;
			padding:3px 7px;
			height:26px;
			line-height:20px;
			box-sizing: border-box;

			overflow: hidden;

			text-overflow:ellipsis;
			max-width: 100%;
			&:hover,
			&:focus {
				color:$wp-black;
				//background:rgba($wp-blue,0.3);
			}
		}
	    &:after {
	    	content:'';
	    	position:absolute;
	    	right:1px;
	    	top:1px;
	    	bottom:1px;
	    	width:15px;
	    	background:rgba(#F4F4F4,0.5);

			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f4f4f4+0,f4f4f4+100&0+0,1+100 */
			background: -moz-linear-gradient(left, rgba(244,244,244,0) 0%, rgba(244,244,244,1) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(left, rgba(244,244,244,0) 0%,rgba(244,244,244,1) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to right, rgba(244,244,244,0) 0%,rgba(244,244,244,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f4f4f4', endColorstr='#f4f4f4',GradientType=1 ); /* IE6-9 */

	    }
	}
}

.acf-field.pll-sync > .acf-label  > label,
.acf-field-repeater.pll-sync .acf-th {
	&:before {
		content:$dashicon-translation;
		font-family:dashicons;
		font-size:25px;
		font-weight: normal;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		display: inline-block;
		vertical-align: middle;
		float:right;
		width:20px;
		height:20px;
		line-height:20px;
		text-align: center;
		background: #fff;
		color: mix($wp-blue-light,$wp-gray-dark,30);

	}
}
